BODY {
	FONT-SIZE: 12px; COLOR: #000000
}
TD {
	FONT-SIZE: 12px; COLOR: #000000
}
TH {
	FONT-SIZE: 12px; COLOR: #000000
}
BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #F3F3F3
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #848484; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.topline {
	BORDER-RIGHT: 0px; BORDER-TOP: #c4c6c8 1px solid; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.tbline {
	BORDER-RIGHT: 0px; BORDER-TOP: #c4c6c8 1px solid; BORDER-LEFT: 0px; BORDER-BOTTOM: #c4c6c8 1px solid
}
.kuang1 {
	BORDER-RIGHT: #e0e7ea 1px solid; BORDER-TOP: #e0e7ea 1px solid; BORDER-LEFT: #e0e7ea 1px solid; BORDER-BOTTOM: #e0e7ea 1px solid
}
.kuang2 {
	BORDER-RIGHT: #d6d9da 1px solid; BORDER-TOP: #d6d9da 1px solid; BORDER-LEFT: #d6d9da 1px solid; BORDER-BOTTOM: #d6d9da 1px solid
}
.kuang_srlb {
	BORDER-RIGHT: #c4c6c8 1px solid; BORDER-TOP: 0px; BORDER-LEFT: #c4c6c8 1px solid; BORDER-BOTTOM: #c4c6c8 1px solid
}
.kuang_d {
	BORDER-RIGHT: #d4d6d8 1px; BORDER-TOP: #d4d6d8 1px solid; BORDER-LEFT: #d4d6d8 1px solid; BORDER-BOTTOM: #d4d6d8 1px
}
.kuang_squan {
	BORDER-RIGHT: #c4c6c8 1px solid; BORDER-TOP: #c4c6c8 1px solid; BORDER-LEFT: #c4c6c8 1px solid; BORDER-BOTTOM: #c4c6c8 1px solid
}
.bothline {
	BORDER-RIGHT: #989b9e 1px solid; BORDER-LEFT: #989b9e 1px solid
}
.font1 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #666666; FONT-FAMILY: "??"
}
.kuangd_over {
	BORDER-TOP: #d4d6d8 1px solid; BORDER-LEFT: #d4d6d8 1px solid; BORDER-BOTTOM: #d4d6d8 1px solid; BORDER-RIGHT-STYLE: none
}
.kang_di {
	BORDER-BOTTOM: #d4d6d8 1px solid
}
.kuang_right {
	BORDER-RIGHT: #e1e4e8 1px solid
}
.kang_white {
	BORDER-RIGHT: #ffffff 3px solid; BORDER-TOP: #ffffff 3px solid; BORDER-LEFT: #ffffff 3px solid; BORDER-BOTTOM: #ffffff 3px solid
}
.kuang_art {
	BORDER-RIGHT: #c4c6c8 1px solid; BORDER-TOP: #c4c6c8 1px solid; BORDER-LEFT: #c4c6c8 1px solid
}
.kuang_btr {
	BORDER-RIGHT: #d4d6d8 1px solid; BORDER-TOP: #d4d6d8 1px solid; BORDER-LEFT: 0px; BORDER-BOTTOM: #d4d6d8 1px solid
}
.kuang_rt {
	BORDER-RIGHT: #d4d6d8 1px solid; BORDER-TOP: #d4d6d8 1px solid
}
.fontwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "??"
}
.style6 {
	COLOR: #ff6600
}
.blueline_tlr {
	BORDER-RIGHT: #aec0da 1px solid; BORDER-TOP: #aec0da 1px solid; BORDER-LEFT: #aec0da 1px solid
}
.blueline_quan {
	BORDER-RIGHT: #aec0da 1px solid; BORDER-TOP: #aec0da 1px solid; BORDER-LEFT: #aec0da 1px solid; BORDER-BOTTOM: #aec0da 1px solid
}
.kuang_chu {
	BORDER-RIGHT: #cccccc 2px solid; BORDER-TOP: #cccccc 2px solid; BORDER-LEFT: #cccccc 2px solid; BORDER-BOTTOM: #cccccc 2px solid
}
.colorline {
	BORDER-RIGHT: #c9c3eb 1px solid; BORDER-TOP: #c9c3eb 1px solid; BORDER-LEFT: #c9c3eb 1px solid; BORDER-BOTTOM: #c9c3eb 1px solid
}
.font2 {
	FONT-SIZE: 12px; COLOR: #c5c5c5
}
.jiameng {
	BORDER-RIGHT: #cecece 2px solid; BORDER-TOP: #cecece 2px solid; BORDER-LEFT: #cecece 2px solid; BORDER-BOTTOM: #cecece 2px solid
}
.fontwhitesamll {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "ו"
}
.fontred {
	FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: "??"
}
.height {
	LINE-HEIGHT: 150%
}
P {
	LINE-HEIGHT: 150%
}
.bodywhite {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
#container {
	BACKGROUND: #ffffff; MARGIN: 0px auto 0px 1%; WIDTH: 980px
}
#header {
	BACKGROUND: no-repeat
}
#menu {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
}
#menu UL {
	FLOAT: right; MARGIN: 0px; LIST-STYLE-TYPE: none
}
#menu UL LI {
	DISPLAY: block; FLOAT: left; MARGIN: 0px 10px; LINE-HEIGHT: 30px
}
#menu UL LI A:link {
	FONT-WEIGHT: bold; COLOR: #666
}
#menu UL LI A:visited {
	FONT-WEIGHT: bold; COLOR: #666
}
#menu UL LI A:hover {
	
}
.menuDiv {
	BACKGROUND: #999; WIDTH: 1px; HEIGHT: 28px
}
#banner {
	CLEAR: both; BACKGROUND: no-repeat 0px 30px; MARGIN: auto; WIDTH: 730px; BORDER-BOTTOM: #efefef 5px solid; HEIGHT: 240px
}
#left {
	FLOAT: left; WIDTH: 780px
}
#right {
	FLOAT: right; WIDTH: 180px
}
#left_1 {
	FLOAT: left; WIDTH: 180px
}
#right_1 {
	FLOAT: right; WIDTH: 780px
}
#pagebody {
	BACKGROUND: #7ec58c; MARGIN: 0px auto; WIDTH: 800px; HEIGHT: 400px
}
#footer {
	MARGIN: 0px auto; WIDTH: 1000px
}
