.ziti01 {
	font-family: "ו";
	font-size: 10pt;
	color: #000000;
}
a.top:link,a.top:visited{
	color: #227776;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a.top:hover{
	color: #FF0000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.button {
	font-family: "Tahoma";
	color: #276D99;
	background-color: #FFFFFF;
	border: 1px #276D99 solid;
	cursor: pointer;
	margin-left: 2px;
	margin-bottom: 0px;
	margin-top: 1px;
	font-size: 12px;
}.ziti02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #FFFFFF;
}
.ziti03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #227776;
}
.ziti04 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
}
.ziti05 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FF6600;
}
